<h3 fxLayoutAlign="center" mat-dialog-title>{{ 'pw_needed'| translate }}</h3>
<mat-dialog-content fxLayoutAlign="center">
  <mat-form-field fxLayoutAlign="center">
    <input type="password" matInput #pwInput [placeholder]="'your_pw' | translate">
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions fxLayoutAlign="center">
  <button mat-raised-button [mat-dialog-close]="pwInput.value">{{ 'submit' | translate }}</button>
  <button mat-raised-button mat-dialog-close>{{ 'cancel' | translate }}</button>
</mat-dialog-actions>
