<section class="menu-margin" fxLayout="column"  fxLayoutGap="20px" fxLayoutAlign="center top"
  fxLayoutAlign="center center">

  <div fxLayout="row" fxLayoutGap="10px" fxLayout.lt-md="column" fxLayout.gt-sm="row">
    <mat-card class="calendar-card" fxLayout="column" fxLayoutGap="10px"  fxLayoutAlign="top center">
      <mat-card-title fxHide.lt-md>
        {{ 'calendar' | translate }}
      </mat-card-title>
      <mat-card-content>
        <lib-calendar 
        firstDayOfWeek="Monday" 
        [locale]="language$ | async" 
        [min]="minDate" id="calendar"
        (valueChange)="onDateChange($event)"
        [value]="today"
        #myCalendar
        >
        </lib-calendar>
          <!-- {{ myCalendar.value }} -->
      </mat-card-content>
    </mat-card>
    <mat-card class="calendar-card" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="top center">
      <mat-tab-group mat-align-tabs="center">
        <mat-tab>
          <ng-template mat-tab-label>
            <span class="task" matBadge="4" matBadgeOverlap="false" matBadgeColor="accent">Tasks</span>
          </ng-template>
          <mat-card-content>
            <div class="event event_task">
    
            </div>
          </mat-card-content>

        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <span class="meeting" matBadge="4" matBadgeOverlap="false" matBadgeColor="warn">Meeting</span>
          </ng-template>

        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>

</section>
