mat-card-content {
  width: 100%;
  margin-bottom: 0px;
  font-size: 12px;
  text-align: justify;
}

::ng-deep.mat-tab-header {
  max-width: 250px;
  min-width: 250px;
  border: 0 solid white;
}

.event-list-card {
  max-width: 300px;
  min-width: 300px;
  padding-top: 10px;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 11px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 11px 0px rgba(0, 0, 0, 0.5);
}

.icon {
  width: 50px;
}

@media only screen and (min-width: 375px) {
  .icon {
    font-size: 15px;
  }

  .event-list-card {
    max-width: 350px;
    min-width: 350px;
  }

  ::ng-deep.mat-tab-header {
    max-width: 320px;
    min-width: 320px;
  }

}

@media only screen and (min-width: 960px) {
  .icon {
    font-size: 15px;
  }

  .event-list-card {
    max-width: 450px;
    min-width: 450px;
  }

  ::ng-deep.mat-tab-header {
    max-width: 420px;
    min-width: 420px;
  }
}

mat-tab {
  width: 100%;
}

.list-swipe .small {
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #9B9B9B;
  padding: .5rem 0 0 0;
}

.mark {
  height: 40px;
  margin-right: -.3rem;
  border-right: solid .175rem #12e0da;
}

.trash {
  background: url("../../../../assets/images/trash-outline.svg") no-repeat center;
}


