:host {
  display: block;
  font-family: "Arial", serif;
}

.not-marker {
  background: red;
  width: 1rem;
  height: 1rem;
  border-radius: 3rem;
}

.yes-marker {
  background: green;
  width: 1rem;
  height: 1rem;
  border-radius: 3rem;
}

.swipe-d-flex {
  display: flex;
}

.swipe-w-10 {
  width: 10%;
}

.swipe-w-100 {
  width: 100%;
}

.swipe-w-90 {
  width: 90%;
}

.options-btn.active {
  display: flex;
  transform: translate(10px, 0px);
}

.list-swipe {
  box-shadow: 0px 5px 7px rgba(181, 181, 181, 0.18);
  border-radius: .25em;
  padding: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  z-index: 9;
  margin: .75rem 0rem;
  border: 0.2px solid rgba(255, 255, 255, 0.18);
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.left-swipe {
  transform: translate(-35%, 0px);
  -webkit-transition: all .4s ease-out;
  -moz-transition: all .4s ease-out;
  -o-transition: all .4s ease-out;
  transition: all .4s ease-out;
  box-shadow: 6px 0px 7px rgba(181, 181, 181, 0.31);
}

.options-btn {
  position: absolute;
  right: 5%;
  display: none;
  cursor: pointer;
}

.list-swipe .small {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #9B9B9B;
  padding: .5rem 0 0 0;
}

.mark {
  height: 2rem;
  margin-right: -.3rem;
  border-right: solid .175rem #12e0da;
}

.option-list {
  font-size: 20px;
  width: 40px;
  min-height: 3.5rem;
  line-height: 3.5rem;
  text-align: center;
  margin-top: 11px;
}

.option-list-task {
  min-height: 40px;
  max-height: 40px;
}

.option-list-meeting {
  min-height: 46px;
  max-height: 46px;
}

@media only screen and (min-width: 375px) {
  .option-list {
    margin-left: 10px;
  }
}

@media only screen and (min-width: 960px) {
  .option-list {
    margin-left: 20px;
  }
}

.option-list:last-child {
  border-right: 0;
}

.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
