<section class="menu-margin" fxLayout.gt-md="row" fxLayoutGap="20px" fxLayoutAlign="center center">
  <mat-card fxLayoutAlign="center center" fxLayout="column" class="signup-card">
    <mat-card-title>{{ 'signup' | translate }}</mat-card-title>
    <mat-card-content>
      <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" [formGroup]="signupForm"
        (ngSubmit)="onSubmit()">
        <mat-form-field>
          <input type="email" matInput [placeholder]=" 'your_email' | translate" formControlName="email" name="email">
          <mat-hint>{{ "valid_email" | translate }}</mat-hint>
          <mat-error>{{ "missing_email" | translate }}</mat-error>
        </mat-form-field>
        <mat-form-field [hintLabel]=" 'three_char_long' | translate">
          <input type="text" matInput [placeholder]=" 'your_username' | translate" formControlName="username" minlength="3"
            name="username">
          <mat-hint align="end">{{ signupForm.value?.username.length }} / 3</mat-hint>
          <mat-error>{{ "three_char_long" | translate }}</mat-error>
        </mat-form-field>
        <mat-form-field [hintLabel]=" 'six_char_long' | translate">
          <input type="password" matInput [placeholder]=" 'your_pw' | translate " formControlName="password" minlength="6">
          <mat-hint align="end">{{ signupForm.value?.password.length }} / 6</mat-hint>
          <mat-error>{{ "six_char_long" | translate }}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput [placeholder]=" 'your_bd' | translate" [matDatepicker]="picker" [max]="maxDate" [min]="minDate"
            formControlName="birthdate">
          <mat-datepicker-toggle class="toggle" matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker [touchUi]="true" #picker></mat-datepicker>
        </mat-form-field>
        <button *ngIf="!(isLoading$ | async)" mat-raised-button color="accent"
        [disabled]="signupForm.invalid">{{ "submit" | translate }}</button>
        <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
      </form>
    </mat-card-content>
    <p class="small-text">{{ 'already_account' | translate }} <a routerLink="/login" [routerLinkActive]="['login']">{{ 'login' | translate}}</a></p>
  </mat-card>
</section>
