.calendar-card.mat-card-content {
  margin-bottom: 0px;
  font-size: 12px;
  text-align: justify;
}

.calendar-card {
  max-width: 300px;
  min-width: 300px;
  padding-top: 10px;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 11px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 11px 0px rgba(0, 0, 0, 0.5);
}

@media only screen and (min-width: 375px) {
  .calendar-card {
    max-width: 350px;
    min-width: 350px;
  }
}

@media only screen and (min-width: 960px) {
  .calendar-card {
    max-width: 450px;
    min-width: 450px;
  }
}
