<section class="menu-margin" fxLayout.gt-md="row" fxLayoutGap="20px" fxLayoutAlign="center center">
  <mat-card fxLayoutAlign="center center" fxLayout="column">
    <mat-card-title>{{ 'set_new_password' | translate }}</mat-card-title>
    <mat-card-content>
      <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" [formGroup]="frmSetNewPassword" (ngSubmit)="setPassword()">
        <mat-form-field>
          <input type="password" matInput [placeholder]="'new_pw' | translate" formControlName="password" minlength="6">
          <mat-hint align="end">{{ frmSetNewPassword.value?.password.length }} / 6</mat-hint>
          <mat-error>{{ "six_char_long" | translate }}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input type="password" matInput [placeholder]="'confirm_pw' | translate" formControlName="confirmPassword">
          <mat-error>{{ "confirm_pw_required" | translate }}</mat-error>
        </mat-form-field>
        <button *ngIf="!(isLoading$ | async)" type="submit" mat-raised-button color="primary"
          [disabled]="frmSetNewPassword.invalid">{{ "submit" | translate }}</button>
        <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
      </form>
    </mat-card-content>
  </mat-card>
</section>
