mat-sidenav-container {
  height: 100%;
}

mat-card {
  padding-top: 10px
}

mat-card-title {
  font-size: 15px;
  margin-top: 0px;
  padding-top: 0px;
}

mat-card-subtitle {
  font-size: 12px;
  font-style: italic;
  padding-bottom: 3px;
  margin-bottom: 0px;
}

mat-card-content {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0px;
  font-size: 12px;
  text-align: center;
}

.notif-card {
  max-width: 230px;
  min-width: 230px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(104, 122, 146, 0.5);
  box-shadow: 0px 0px 10px 5px rgba(104, 122, 146, 0.5);
}

.accept-decline-icon {
  font-size: 25px;
}

.no-notification{
  font-style: italic;
  
}
