<mat-sidenav-container>
  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
    <mat-toolbar fxLayout>
      <h3 fxFlex="50%" fxLayoutAlign="start">{{ 'notifications' | translate }}</h3>
      <span fxFlex="50%" fxLayoutAlign="end">
        <button mat-mini-fab (click)="onClose()">
          <mat-icon>skip_next</mat-icon>
        </button>
      </span>

    </mat-toolbar>
    <div *ngIf="(currentUserNotifications$ | async).length === 0">
      <span class="no-notification">{{ 'no_notification' | translate }}</span>
    </div>
    <ng-template ngFor [ngForOf]="currentUserNotifications$ | async" let-notification>
      <ng-container [ngSwitch]="notification.code">

        <mat-card class="notif-card" *ngSwitchCase="'friend_request'">
          <mat-card-title fxLayout>
            {{ 'notif_friend_request' | translate }}
          </mat-card-title>
          <mat-card-subtitle>
            {{ getFormat(notification.createdOn) }}
          </mat-card-subtitle>
          <mat-divider></mat-divider>
          <mat-card-content>
            <p>{{ 'sender_friend_request' | translate }} <span class="accent">{{ notification.senderUsername }}</span>
              (<span class="accent">{{ notification.senderEmail }}</span>) {{ 'content_friend_request' | translate }}
            </p>
          </mat-card-content>
          <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
            <div fxFlex="50%" fxLayoutAlign="start">
              <button class="accept-decline-btn" mat-mini-fab (click)="onAcceptFriendRequest(notification)"
                fxLayoutAlign="center center">
                <mat-icon class="accept-decline-icon">done</mat-icon>
              </button>
            </div>
            <div fxFlex="50%" fxLayoutAlign="end">
              <button class="accept-decline-btn" mat-mini-fab (click)="onDeclineFriendRequest(notification)"
                color="warn" fxLayoutAlign="center center">
                <mat-icon class="accept-decline-icon">close</mat-icon>
              </button>
            </div>
          </mat-card-actions>
        </mat-card>

        <mat-card class="notif-card" *ngSwitchCase="'friend_request_accepted'">
          <mat-card-title fxLayout>
            {{ 'notif_friend_request_accepted' | translate }}
          </mat-card-title>
          <mat-card-subtitle>
            {{ getFormat(notification.createdOn) }}
          </mat-card-subtitle>
          <mat-divider></mat-divider>
          <mat-card-content>
            <p>{{ 'sender_friend_request' | translate }} <span class="accent">{{ notification.senderUsername }}</span>
              (<span class="accent">{{ notification.senderEmail }}</span>) {{ 'content_friend_request_accepted' | translate }}
            </p>
          </mat-card-content>
          <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
            <div fxFlex fxLayoutAlign="center">
              <button class="accept-decline-btn" mat-mini-fab (click)="deleteNotification(notification)"
                fxLayoutAlign="center center">
                <mat-icon class="accept-decline-icon">done</mat-icon>
              </button>
            </div>
          </mat-card-actions>
        </mat-card>

        <mat-card class="notif-card" *ngSwitchCase="'friend_request_declined'">
          <mat-card-title fxLayout>
            {{ 'notif_friend_request_declined' | translate }}
          </mat-card-title>
          <mat-card-subtitle>
            {{ getFormat(notification.createdOn) }}
          </mat-card-subtitle>
          <mat-divider></mat-divider>
          <mat-card-content>
            <p>{{ 'sender_friend_request' | translate }} <span class="accent">{{ notification.senderUsername }}</span>
              (<span class="accent">{{ notification.senderEmail }}</span>) {{ 'content_friend_request_declined' | translate }}
            </p>
          </mat-card-content>
          <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
            <div fxFlex fxLayoutAlign="center">
              <button class="accept-decline-btn" mat-mini-fab (click)="deleteNotification(notification)"
                fxLayoutAlign="center center">
                <mat-icon class="accept-decline-icon">done</mat-icon>
              </button>
            </div>
          </mat-card-actions>
        </mat-card>

        <mat-card class="notif-card" *ngSwitchCase="'removed_from_friends'">
          <mat-card-title fxLayout>
            {{ 'removed_from_friends_title' | translate }}
          </mat-card-title>
          <mat-card-subtitle>
            {{ getFormat(notification.createdOn) }}
          </mat-card-subtitle>
          <mat-divider></mat-divider>
          <mat-card-content>
            <p>{{ 'sender_friend_request' | translate }} <span class="accent">{{ notification.senderUsername }}</span>
              (<span class="accent">{{ notification.senderEmail }}</span>) {{ 'content_removed_from_friends' | translate }}
            </p>
          </mat-card-content>
          <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
            <div fxFlex fxLayoutAlign="center">
              <button class="accept-decline-btn" mat-mini-fab (click)="deleteNotification(notification)"
                fxLayoutAlign="center center">
                <mat-icon class="accept-decline-icon">done</mat-icon>
              </button>
            </div>
          </mat-card-actions>
        </mat-card>

        <mat-card class="notif-card" *ngSwitchCase="'removed_shared_checklist'">
          <mat-card-title fxLayout>
            {{ 'removed_shared_checklist_title' | translate }}
          </mat-card-title>
          <mat-card-subtitle>
            {{ getFormat(notification.createdOn) }}
          </mat-card-subtitle>
          <mat-divider></mat-divider>
          <mat-card-content>
            <p>{{ 'sender_friend_request' | translate }} <span class="accent">{{ notification.senderUsername }}</span>
              (<span class="accent">{{ notification.senderEmail }}</span>) {{ 'content_removed_shared_checklist' | translate }} <span class="accent">{{ (selectedChecklist$ | async).checklistName }}</span>
            </p>
          </mat-card-content>
          <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
            <div fxFlex fxLayoutAlign="center">
              <button class="accept-decline-btn" mat-mini-fab (click)="deleteNotification(notification)"
                fxLayoutAlign="center center">
                <mat-icon class="accept-decline-icon">done</mat-icon>
              </button>
            </div>
          </mat-card-actions>
        </mat-card>

        <mat-card class="notif-card" *ngSwitchCase="'new_shared_checklist'">
          <mat-card-title fxLayout>
            {{ 'new_shared_checklist_title' | translate }}
          </mat-card-title>
          <mat-card-subtitle>
            {{ getFormat(notification.createdOn) }}
          </mat-card-subtitle>
          <mat-divider></mat-divider>
          <mat-card-content>
            <p>{{ 'sender_friend_request' | translate }} <span class="accent">{{ notification.senderUsername }}</span>
              (<span class="accent">{{ notification.senderEmail }}</span>) {{ 'content_new_shared_checklist' | translate }} <span class="accent">{{ (selectedChecklist$ | async).checklistName }}</span>
            </p>
          </mat-card-content>
          <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
            <div fxFlex fxLayoutAlign="center">
              <button class="accept-decline-btn" mat-mini-fab (click)="deleteNotification(notification)"
                fxLayoutAlign="center center">
                <mat-icon class="accept-decline-icon">done</mat-icon>
              </button>
            </div>
          </mat-card-actions>
        </mat-card>

        <mat-card class="notif-card" *ngSwitchCase="'checklist_name_updated'">
          <mat-card-title fxLayout>
            {{ 'checklist_name_updated_title' | translate }}
          </mat-card-title>
          <mat-card-subtitle>
            {{ getFormat(notification.createdOn) }}
          </mat-card-subtitle>
          <mat-divider></mat-divider>
          <mat-card-content>
            <p>{{ 'sender_friend_request' | translate }} <span class="accent">{{ notification.senderUsername }}</span>
              (<span class="accent">{{ notification.senderEmail }}</span>) {{ 'content_checklist_name_updated' | translate }}
            </p>
            <p><span class="warn">{{ notification.passedData[0] }} </span> <i class="fas fa-long-arrow-alt-right"></i> <span class="accent"> {{ notification.passedData[1] }}</span></p>
          </mat-card-content>
          <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
            <div fxFlex fxLayoutAlign="center">
              <button class="accept-decline-btn" mat-mini-fab (click)="deleteNotification(notification)"
                fxLayoutAlign="center center">
                <mat-icon class="accept-decline-icon">done</mat-icon>
              </button>
            </div>
          </mat-card-actions>
        </mat-card>

        <mat-card class="notif-card" *ngSwitchCase="'add_event_from_friend'">
          <mat-card-title fxLayout>
            {{ 'add_event_from_friend_title' | translate }}
          </mat-card-title>
          <mat-card-subtitle>
            {{ getFormat(notification.createdOn) }}
          </mat-card-subtitle>
          <mat-divider></mat-divider>
          <mat-card-content>
            <p>{{ 'sender_friend_request' | translate }} <span class="accent">{{ notification.senderUsername }}</span>
              (<span class="accent">{{ notification.senderEmail }}</span>) {{ 'content_add_event_from_friend' | translate }}
            </p>
            <p><span class="accent">{{ notification.passedData[0] }}</span></p>
            <p><span class="accent">{{ getFormat(notification.passedData[1]) }}</span></p>
          </mat-card-content>
          <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
            <div fxFlex fxLayoutAlign="center">
              <button class="accept-decline-btn" mat-mini-fab (click)="deleteNotification(notification)"
                fxLayoutAlign="center center">
                <mat-icon class="accept-decline-icon">done</mat-icon>
              </button>
            </div>
          </mat-card-actions>
        </mat-card>

        <mat-card class="notif-card" *ngSwitchCase="'edit_event_from_friend'">
          <mat-card-title fxLayout>
            {{ 'edit_event_from_friend_title' | translate }}
          </mat-card-title>
          <mat-card-subtitle>
            {{ getFormat(notification.createdOn) }}
          </mat-card-subtitle>
          <mat-divider></mat-divider>
          <mat-card-content>
            <p>{{ 'sender_friend_request' | translate }} <span class="accent">{{ notification.senderUsername }}</span>
              (<span class="accent">{{ notification.senderEmail }}</span>) {{ 'content_edit_event_from_friend' | translate }}
            </p>
            <p><span class="accent">{{ notification.passedData[0] }}</span></p>
            <p><span class="accent">{{ getFormat(notification.passedData[1]) }}</span></p>
          </mat-card-content>
          <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
            <div fxFlex fxLayoutAlign="center">
              <button class="accept-decline-btn" mat-mini-fab (click)="deleteNotification(notification)"
                fxLayoutAlign="center center">
                <mat-icon class="accept-decline-icon">done</mat-icon>
              </button>
            </div>
          </mat-card-actions>
        </mat-card>

        <mat-card class="notif-card" *ngSwitchCase="'remove_event_from_friend'">
          <mat-card-title fxLayout>
            {{ 'remove_event_from_friend_title' | translate }}
          </mat-card-title>
          <mat-card-subtitle>
            {{ getFormat(notification.createdOn) }}
          </mat-card-subtitle>
          <mat-divider></mat-divider>
          <mat-card-content>
            <p>{{ 'sender_friend_request' | translate }} <span class="accent">{{ notification.senderUsername }}</span>
              (<span class="accent">{{ notification.senderEmail }}</span>) {{ 'content_remove_event_from_friend' | translate }}
            </p>
            <p><span class="warn">{{ notification.passedData[0] }}</span></p>
            <p><span class="warn">{{ getFormat(notification.passedData[1]) }}</span></p>
          </mat-card-content>
          <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
            <div fxFlex fxLayoutAlign="center">
              <button class="accept-decline-btn" mat-mini-fab (click)="deleteNotification(notification)"
                fxLayoutAlign="center center">
                <mat-icon class="accept-decline-icon">done</mat-icon>
              </button>
            </div>
          </mat-card-actions>
        </mat-card>

      </ng-container>
    </ng-template>
  </div>
</mat-sidenav-container>
