<mat-nav-list>
  <a *ngIf="isLoggedOut$ | async" mat-list-item routerLink="/signup" [routerLinkActive]="['signup']" (click)="onClose()">
    <mat-icon>face</mat-icon>
    <span class="nav-caption">{{ 'signup' | translate }}</span>
  </a>
  <a *ngIf="isLoggedOut$ | async" mat-list-item routerLink="/login" [routerLinkActive]="['login']" (click)="onClose()">
    <mat-icon>input</mat-icon>
    <span class="nav-caption">{{ 'login' | translate }}</span>
  </a>
  <a *ngIf="isLoggedIn$ | async" mat-list-item routerLink="/settings" [routerLinkActive]="['settings']" (click)="onClose()">
    <mat-icon>settings</mat-icon>
    <span class="nav-caption">{{ 'settings' | translate }}</span>
  </a>
  <a mat-list-item routerLink="/contact-us" [routerLinkActive]="['contact-us']" (click)="onClose()">
    <mat-icon>info</mat-icon>
    <span class="nav-caption">{{ 'contact_us' | translate }}</span>
  </a>
  <mat-list-item *ngIf="isLoggedIn$ | async" (click)="onLogout()">
    <button mat-icon-button>
      <mat-icon>eject</mat-icon>
      <span class="nav-caption">{{ 'logout' | translate }}</span>
    </button>
  </mat-list-item>
  <mat-list-item>
    <mat-select #selectedLang [value]="currentLang$ | async" (selectionChange)="switchLang(selectedLang.value)">
      <mat-option *ngFor="let l of (languages$ | async)" [value]="l">
        {{ l.toUpperCase() }}
      </mat-option>
    </mat-select>
  </mat-list-item>
</mat-nav-list>

