mat-card-title {
  font-size: 15px;
  color: #12e0da;
}

mat-card-subtitle {
  font-size: 12px;
  font-style: italic;
  padding-bottom: 3px;
  margin-bottom: 0px;
}

mat-card-content {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0px;
  font-size: 12px;
  text-align: center;
}

mat-mini-fab {
  padding: 0px
}

mat-list-item {
  min-height: 35px;
  max-height: 35px;

  &::ng-deep .mat-list-item-content {
    min-width: 280px;
    max-width: 280px;
  }
}

.settings-card {
  max-width: 300px;
  min-width: 300px;
  padding-top: 10px;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 11px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 11px 0px rgba(0, 0, 0, 0.5);
}

.content-no-padding {
  padding-top: 0px;
  margin: 0px
}

.accept-decline-icon {
  font-size: 25px;
}

.margin-bottom-add-friend-btn {
  padding-bottom: 10px;
}
