  <section class="menu-margin" fxLayout.gt-md="row" fxLayoutGap="20px" fxLayoutAlign="center center">
    <mat-card fxLayoutAlign="center center" fxLayout="column" class="password-reset-card">
      <mat-card-title>{{ 'pw_reset' | translate }}</mat-card-title>
      <mat-card-content *ngIf="!showConfirmMessage">
        <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" [formGroup]="frmPasswordReset"
          (ngSubmit)="sendPasswordResetRequest()">
          <mat-form-field>
            <input type="email" matInput [placeholder]="'your_email' | translate" formControlName="email" name="email">
            <mat-hint>{{ "valid_email" | translate }}</mat-hint>
            <mat-error>{{ "missing_email" | translate }}</mat-error>
          </mat-form-field>
          <button *ngIf="!(isLoading$ | async)" type="submit" mat-raised-button color="accent"
            [disabled]="frmPasswordReset.invalid">{{ "submit" | translate }}</button>
          <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
        </form>
      </mat-card-content>
      <mat-card-content *ngIf="showConfirmMessage">
        <p>{{ 'reset_pw_msg_sent' | translate }}</p>
      </mat-card-content>

    </mat-card>
  </section>