<mat-card class="settings-card" fxLayout="column" fxLayoutGap="10px">
    <mat-card-title>
      {{ 'pw_reset' | translate }}
    </mat-card-title>
    <mat-card-content *ngIf="!(isLoading$ | async) && !showConfirmMessage" fxLayoutAlign="center center"
      fxLayout="column">
      <p>{{ 'reset_pw_msg' | translate}}</p>
      <button type="submit" mat-raised-button color="accent"
        (click)="sendPasswordResetRequest()">{{ "password_reset" | translate }}</button>
      <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
    </mat-card-content>
    <mat-card-content *ngIf="showConfirmMessage">
      <p>{{ 'reset_pw_msg_sent' | translate }}</p>
    </mat-card-content>
  </mat-card>