<mat-card [@modalFadeZoom] class="notif-card">
    <mat-card-title fxLayout>
            {{ 'notif_friend_request' | translate }}
    </mat-card-title>
    <mat-card-subtitle>
        {{ notificationDate }}
    </mat-card-subtitle>
    <mat-divider></mat-divider>
    <mat-card-content>
        <p>{{ 'sender_friend_request' | translate }} {{ senderUsername }} ({{ senderEmail }}) {{ 'content_friend_request' | translate }}</p>
    </mat-card-content>
    <mat-card-actions fxLayout="row" fxLayoutAlign="center center" >
        <div fxFlex="50%" fxLayoutAlign="start">
            <button class="accept-decline-btn" mat-mini-fab (click)="onAccept()" fxLayoutAlign="center center">
                <mat-icon class="accept-decline-icon">done</mat-icon>
            </button>
        </div>
        <div fxFlex="50%" fxLayoutAlign="end">
            <button class="accept-decline-btn" mat-mini-fab (click)="onDecline()" color="warn" fxLayoutAlign="center center">
                <mat-icon class="accept-decline-icon">close</mat-icon>
            </button>
        </div>
    </mat-card-actions>
</mat-card>

 <!-- TODO : arondir les angles, mettre une ombre, mettre la date,  -->