<mat-sidenav-container>
  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
    <mat-toolbar fxLayout>
      <h3 fxFlex="50%" fxLayoutAlign="start">{{ 'notifications' | translate }}</h3>
      <span fxFlex="50%" fxLayoutAlign="end">
        <button mat-mini-fab (click)="onClose()">
          <mat-icon>skip_next</mat-icon>
        </button>
      </span>

    </mat-toolbar>
    <ng-template ngFor [ngForOf]="currentUserNotifications$ | async" let-notification>
      <ng-container [ngSwitch]="notification.code">
        <mat-card @leave class="notif-card">
          <mat-card-title fxLayout>
                  {{ 'notif_friend_request' | translate }}
          </mat-card-title>
          <mat-card-subtitle>
              {{ getFormat(notification.createdOn) }}
          </mat-card-subtitle>
          <mat-divider></mat-divider>
          <mat-card-content>
              <p>{{ 'sender_friend_request' | translate }} <span class="accent">{{ notification.senderUsername }}</span> (<span class="accent">{{ notification.senderEmail }}</span>) {{ 'content_friend_request' | translate }}</p>
          </mat-card-content>
          <mat-card-actions fxLayout="row" fxLayoutAlign="center center" >
              <div fxFlex="50%" fxLayoutAlign="start">
                  <button class="accept-decline-btn" mat-mini-fab (click)="onAccept(notification)" fxLayoutAlign="center center">
                      <mat-icon class="accept-decline-icon">done</mat-icon>
                  </button>
              </div>
              <div fxFlex="50%" fxLayoutAlign="end">
                  <button class="accept-decline-btn" mat-mini-fab (click)="onDecline(notification)" color="warn" fxLayoutAlign="center center">
                      <mat-icon class="accept-decline-icon">close</mat-icon>
                  </button>
              </div>
          </mat-card-actions>
      </mat-card>
      </ng-container>
    </ng-template>
  </div>
</mat-sidenav-container>
