<mat-toolbar class="top-toolbar toolbar-small" fxHide.gt-sm fxLayout="row" fxFlex>

  <div  fxFlex="33%" fxLayoutAlign="start">
    <button mat-icon-button (click)="onToggleSidenav()" color="primary">
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <div fxFlex="34%" fxLayoutAlign="center center" class="bot-home-button" routerLink="/">
  </div>

  <div fxFlex="33%" fxLayoutAlign="end">
    <button mat-icon-button class="nav-button" (click)="onToggleSidenavNotifications()">
      <mat-icon *ngIf="((currentUserNotifications$ | async).length !== 0)" [matBadge]="(currentUserNotifications$ | async).length" matBadgeColor="accent">notifications</mat-icon>
      <mat-icon *ngIf="(currentUserNotifications$ | async).length === 0" matBadgeColor="accent">notifications</mat-icon>
    </button>
  </div>

</mat-toolbar>

<mat-toolbar class="top-toolbar toolbar-big" fxHide.lt-md>
  <div fxFlex fxLayout="row" fxLayoutAlign="center center">

    <div fxFlex="30%" fxLayoutAlign="start">
      <button *ngIf="isLoggedIn$ | async" mat-stroked-button class="nav-button" (click)="onLogout()">
        <mat-icon>eject</mat-icon>
        {{ 'logout' | translate }}
      </button>
    </div>

    <div fxFlex="40%" fxFlex fxLayout="row" fxLayoutAlign="center center">
      <div *ngIf="isLoggedIn$ | async" fxFlex="20%" fxLayoutAlign="end center" fxLayout="column" routerLink="/calendar"
        class="top-cal-list-button">
        <mat-icon fxLayoutAlign="center center" class="top-cal-list-icon">event</mat-icon>
        <span fxLayoutAlign="center center" class="top-text-icon">{{ 'calendar' | translate}}</span>
      </div>

      <div fxFlex="60%" fxLayoutAlign="center center" class="top-home-button" routerLink="/">
      </div>

      <div *ngIf="isLoggedIn$ | async" fxFlex="20%" fxLayoutAlign="start center" fxLayout="column" routerLink="/checklist"
        class="top-cal-list-button">
        <mat-icon fxLayoutAlign="center center" class="top-cal-list-icon">list_alt</mat-icon>
        <span fxLayoutAlign="center center" class="top-text-icon">{{ 'checklist' | translate}}</span>
      </div>
    </div>

    <div fxFlex="30%" fxLayoutAlign="end">

      <div *ngIf="isLoggedOut$ | async">
        <button mat-stroked-button class="nav-button" routerLink="/signup" routerLinkActive="active">
          <mat-icon>face</mat-icon>
          {{ 'signup' | translate }}
        </button>
        <button mat-stroked-button class="nav-button" routerLink="/login" routerLinkActive="active">
          <mat-icon>input</mat-icon>
          {{ 'login' | translate }}
        </button>
        <button mat-icon-button class="nav-button" routerLink="/contact-us" routerLinkActive="active">
          <mat-icon>info</mat-icon>
        </button>
      </div>

      <div *ngIf="isLoggedIn$ | async">
        <button mat-icon-button class="nav-button" routerLink="/contact-us" routerLinkActive="active">
          <mat-icon>info</mat-icon>
        </button>
        <button mat-icon-button class="nav-button" routerLink="/settings" routerLinkActive="active">
          <mat-icon>settings</mat-icon>
        </button>
        <button mat-icon-button class="nav-button" (click)="onToggleSidenavNotifications()">
          <mat-icon *ngIf="((currentUserNotifications$ | async).length !== 0)" [matBadge]="(currentUserNotifications$ | async).length" matBadgeColor="accent">notifications</mat-icon>
          <mat-icon *ngIf="(currentUserNotifications$ | async).length === 0" matBadgeColor="accent">notifications</mat-icon>
        </button>
      </div>

      <mat-select #selectedLang [value]="currentLang$ | async" (selectionChange)="switchLang(selectedLang.value)">
        <mat-option *ngFor="let l of (languages$ | async)" [value]="l">
          {{ l.toUpperCase() }}
        </mat-option>
      </mat-select>

    </div>
  </div>
</mat-toolbar>

<mat-toolbar class="bot-toolbar" fxHide.gt-sm fxFlex fxLayout="row" fxLayoutAlign="center center" *ngIf="isLoggedIn$ | async">
  <div fxFlex="40%" fxLayoutAlign="center center" fxLayout="column" routerLink="/calendar"  [routerLinkActive]="['calendar']" class="bot-cal-list-button">
    <mat-icon fxLayoutAlign="center center" class="bot-cal-list-icon">event</mat-icon>
    <!-- <span fxFlex="90%" fxLayoutAlign="center top" class="bot-text-icon">{{ 'calendar' | translate}}</span> -->
  </div>

  <div mat-fab *ngIf="(pageName$ | async) === '/calendar' || (pageName$ | async) === '/checklist'" fxFlex="20%" fxLayoutAlign="center center">
    <button mat-icon-button (click)="addEvent($event)" class="bot-add-button">
      <mat-icon fxLayoutAlign="center center" class="bot-add-icon" color="accent">add_circle</mat-icon>
    </button>
  </div>

  <div fxFlex="40%" fxLayoutAlign="center center" fxLayout="column" routerLink="/checklist"  [routerLinkActive]="['checklist']" class="bot-cal-list-button">
    <mat-icon fxLayoutAlign="center center" class="bot-cal-list-icon">list_alt</mat-icon>
    <!-- <span fxLayoutAlign="center center" class="bot-text-icon">{{ 'checklist' | translate}}</span> -->
  </div>
</mat-toolbar>
