<mat-sidenav-container>
    <mat-sidenav class="menu-sidenav" #sidenav role="navigation" mode="push">
      <app-sidenav (sidenavClose)="sidenav.close()"></app-sidenav>
    </mat-sidenav>
    <mat-sidenav class="notifications-sidenav" #sidenavNotifications role="navigation" position="end">
      <app-sidenav-notifications (sidenavNotificationsClose)="sidenavNotifications.close()"></app-sidenav-notifications>
    </mat-sidenav>
    <mat-sidenav-content fxLayout="column">
      <app-header (sidenavToggle)="sidenav.toggle()" (sidenavNotificationsToggle)="sidenavNotifications.toggle()">
      </app-header>
      <main fxFlex.gt-sm fxLayoutAlign.gt-sm="center start">
          <router-outlet></router-outlet>
      </main>
      <app-footer fxFlex.gt-sm="200px" fxLayoutAlign.gt-sm="end end"></app-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
  