<mat-card class="checklist-items-card" fyLayoutAlign="center center">
  <mat-form-field fxLayoutAlign="center center" *ngIf="selectedChecklist$ | async">
    <div class="item-list">
      <mat-label fxLayout="row">
        <i *ngIf="(selectedChecklist$ | async).userId === (currentUser$ | async)._id" fxFlex="20%" fxLayoutAlign="start center" class="fas fa-trash item-list-icon" (click)="removeChecklist()"></i>
        <i *ngIf="(selectedChecklist$ | async).userId !== (currentUser$ | async)._id" fxFlex="20%" fxLayoutAlign="start center"></i>
        <span fxFlex="60%" fxLayoutAlign="center center" class="item-list-name">{{ (selectedChecklist$ | async).checklistName }}</span>
        <i fxFlex="20%" fxLayoutAlign="end center" class="fas fa-edit item-list-icon" (click)="editChecklist()"></i>
      </mat-label>
      <mat-chip-list #chipList class="mat-chip-list-stacked" fxLayoutAlign="center center">
        <mat-chip *ngFor="let item of selectedChecklistItems$ | async" removable="true"
          (removed)="remove(item)">
          <mat-icon matChipRemove>cancel</mat-icon>
          {{ item.value }}
        </mat-chip>
      </mat-chip-list>
    </div>
    <p class="empty-checklist" *ngIf="(selectedChecklistItems$ | async).length === 0">{{ 'checklist_empty' | translate }}</p>
    <input id="inputList" placeholder="{{ 'new_item' | translate }}" [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes" matChipInputAddOnBlur="true"
      (keydown.backspace)="onBackspaceKeydown($event)" (matChipInputTokenEnd)="add($event)">
  </mat-form-field>
</mat-card>
