mat-card-title {
  font-size: 18px;
}

mat-mini-fab {
  padding: 0px
}

.add-remove-btn {
  height: 25px;
  width: 25px;
  margin: 10px;

  &::ng-deep .mat-button-wrapper {
    padding: 0 !important;
  }
}

.mat-button-wrapper {
  padding: 0;
}

.add-remove-icon {
  font-size: 20px;
  padding-bottom: 6px;
  padding-top: 0px;
}

mat-card-title {
  font-size: 15px;
  margin-top: 0px;
  padding-top: 0px;
  color: #12e0da;
}

mat-card-subtitle {
  font-size: 12px;
  font-style: italic;
  padding-bottom: 3px;
  margin-bottom: 0px;
}

mat-card-content {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0px;
  font-size: 12px;
  text-align: center;
}

.settings-card {
  max-width: 300px;
  min-width: 300px;
  padding-top: 10px;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 11px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 11px 0px rgba(0, 0, 0, 0.5);
}

mat-list-item {


  &::ng-deep .mat-list-item-content {
    min-width: 280px;
    max-width: 280px;
  }
}
