<section class="menu-margin" fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="20px" fxLayoutAlign.gt-sm="center top"
  fxLayoutAlign="center center">

  <!-- ACCOUNT CARD -->
  <div fxLayout="column" fxLayoutGap="10px">
    <mat-card class="settings-card" fxLayout="column" fxLayoutGap="10px">
      <mat-card-title>
        {{ 'account' | translate }}
      </mat-card-title>
      <mat-card-content>
        <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" [formGroup]="accountForm"
          (ngSubmit)="onUpdateAccount()">
          <mat-form-field>
            <input type="email" matInput [placeholder]=" 'your_email' | translate" formControlName="email" name="email">
            <mat-error>{{ "valid_email" | translate }}</mat-error>
            <mat-error>{{ "missing_email" | translate }}</mat-error>
          </mat-form-field>
          <mat-form-field [hintLabel]=" 'four_char_long' | translate">
            <input type="text" matInput [placeholder]=" 'your_username' | translate" formControlName="username"
              minlength="6" name="username">
            <mat-hint align="end">{{ accountForm.value?.username.length }} / 4</mat-hint>
            <mat-error>{{ "four_char_long" | translate }}</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput [placeholder]=" 'your_bd' | translate" [matDatepicker]="picker" [max]="maxDate"
              [min]="minDate" formControlName="birthdate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <button *ngIf="!(isLoading$ | async)" mat-raised-button color="accent"
            [disabled]="accountForm.invalid">{{ "update" | translate }}</button>
          <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
        </form>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- LANGUAGE CARD -->
  <div fxLayout="column" fxLayoutGap="20px">
    <mat-card class="settings-card" fxLayout="column" fxLayoutGap="10px">
      <mat-card-title>
        {{ 'language' | translate }}
      </mat-card-title>
      <mat-card-actions fxLayoutAlign="center center">
        <mat-button-toggle-group #selectedLang="matButtonToggleGroup" name="language" [value]="currentLang$ | async"
          (change)="switchLang(selectedLang.value)">
          <mat-button-toggle *ngFor="let l of (languages$ | async)" [value]="l">
            {{ l.toUpperCase() }}
          </mat-button-toggle>
        </mat-button-toggle-group>
      </mat-card-actions>
    </mat-card>

    <!-- RESET PASSWORD CARD -->
    <mat-card class="settings-card" fxLayout="column" fxLayoutGap="10px">
      <mat-card-title>
        {{ 'pw_reset' | translate }}
      </mat-card-title>
      <mat-card-content *ngIf="!(isLoading$ | async) && !showConfirmMessage" fxLayoutAlign="center center"
        fxLayout="column">
        <p>{{ 'reset_pw_msg' | translate}}</p>
        <button type="submit" mat-raised-button color="accent"
          (click)="sendPasswordResetRequest()">{{ "password_reset" | translate }}</button>
        <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
      </mat-card-content>
      <mat-card-content *ngIf="showConfirmMessage">
        <p>{{ 'reset_pw_msg_sent' | translate }}</p>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- FRIEND CARD -->
  <div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center">
    <mat-card class="settings-card" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center">

      <mat-card-title>
        {{ 'friend_title' | translate }}
      </mat-card-title>
      <mat-card-subtitle *ngIf="(currentUserFriends$ | async).length === 0">
        <p>{{ 'empty_friend' | translate }}</p>
      </mat-card-subtitle>
      
      <div *ngIf="(currentUserFriends$ | async).length > 0">
        <mat-card-content fxLayoutAlign="center" class="content-no-padding">
          <mat-list #friend>
            <mat-list-item *ngFor="let friend of currentUserFriends$ | async" fxLayout="row"
              fxLayoutAlign="center center">
              <span fxFlex="85%" fxLayoutAlign="start">{{ friend.username }}</span>
              <div fxFlex="15%" fxLayout="row">
                <button fxLayoutAlign="end" class="accept-decline-btn" mat-mini-fab
                  (click)="removeFriend(friend.userId)" color="warn" fxLayoutAlign="center center">
                  <mat-icon class="accept-decline-icon">close</mat-icon>
                </button>
              </div>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </div>

      <mat-card-title>
        {{ 'friend_request_sent_title' | translate }}
      </mat-card-title>
      <mat-card-subtitle *ngIf="(friendRequestsSent$ | async).length === 0">
        <p>{{ 'empty_request_sent_friend' | translate }}</p>
      </mat-card-subtitle>

      <div *ngIf="(friendRequestsSent$ | async).length > 0">
        <mat-card-content fxLayoutAlign="center" class="content-no-padding">
          <mat-list #friend>
            <mat-list-item *ngFor="let friendRequest of friendRequestsSent$ | async" fxLayout="row"
              fxLayoutAlign="center center">
              <span fxFlex="85%" fxLayoutAlign="start">{{ friendRequest.notificationUsername }}</span>
              <div fxFlex="15%" fxLayout="row">
                <button fxLayoutAlign="end" class="accept-decline-btn" mat-mini-fab
                  (click)="deleteNotification(friendRequest)" color="warn" fxLayoutAlign="center center">
                  <mat-icon class="accept-decline-icon">close</mat-icon>
                </button>
              </div>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </div>

      <mat-card-title>
        {{ 'friend_request_received_title' | translate }}
      </mat-card-title>
      <mat-card-subtitle *ngIf="(friendRequestsReceived$ | async).length === 0">
        <p>{{ 'empty_request_received_friend' | translate }}</p>
      </mat-card-subtitle>
      <mat-card-content fxLayoutAlign="center" class="content-no-padding" *ngIf="(friendRequestsReceived$ | async).length > 0">
        <mat-list #friendReceived fxLayout="column">
          <mat-list-item *ngFor="let friendRequest of friendRequestsReceived$ | async" fxLayout="row"
            fxLayoutAlign="center center">
            <span fxFlex="70%" fxLayoutAlign="start">{{ friendRequest.senderUsername }}</span>
            <div fxFlex="15%" fxLayout="row">
              <button fxLayoutAlign="end" class="accept-decline-btn" mat-mini-fab
                (click)="onAcceptFriendRequest(friendRequest)" fxLayoutAlign="center center">
                <mat-icon class="accept-decline-icon">done</mat-icon>
              </button>
            </div>
            <div fxFlex="15%" fxLayout="row">
              <button fxLayoutAlign="end" class="accept-decline-btn" mat-mini-fab
                (click)="onDeclineFriendRequest(friendRequest)" color="warn" fxLayoutAlign="center center">
                <mat-icon class="accept-decline-icon">close</mat-icon>
              </button>
            </div>
          </mat-list-item>
        </mat-list>
      </mat-card-content>

      <div fxLayoutAlign="center" class="margin-bottom-add-friend-btn">
        <button type="submit" mat-raised-button color="accent"
        (click)="addFriend()">{{ "add_friend_button" | translate }}</button>
      </div>
      </mat-card>
  </div>

</section>
